.popup{
    &-msg-block{
        position: fixed;
        left: calc(50% - 200px);
        right: 0;
        width: 400px;
        background-color: #fff;
        box-shadow: 1px 1px 5px black;
        padding: 17px;
        border-radius: 5px;
        text-align: center;
        display: none;
        animation: 0.5s;

        &.active {
            display: block;
            top: 40%;
            animation: 0.5s;
        }
    }

    &-btn{
        button{
            margin: 15px 10px 0;
        }
    }
}