$black: #232323;
$background: linear-gradient(to right bottom, #00537a, #01618e, #026fa2, #047db6, #078ccb);
$gray-line: #f6f6f6;
$orange: #00537a;
$red: #e31837;

$container-width: 90%;
$container-background: #f7fcff;

$duration: 0.15s;
